{% extends "_templates/base.twig" %}
{% block content %}
    <div class="container">
    	<h3>View example_two.twig</h3>
        <p>In a real application this could be a normal page.</p>
    </div>
{% endblock %}
