{% extends "_templates/base.twig" %}
{% block content %}
    <div class="container">
    	<h3>View index.twig</h3>
        <p>In a real application this could be the homepage.</p>
    </div>
{% endblock %}
